---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
---

<BlogLayout title="Blog">

  <h1>Blog</h1>

  {posts.map((post) => (
    <a href={`/blog/${post.slug}`} class="post-card">
      <h2>{post.data.title}</h2>
      <p class="post-date">
        {post.data.date.toLocaleDateString('es-MX')}
      </p>
    </a>
  ))}

</BlogLayout>