---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.astro';
---

<Layout title="Login">
  <main>
    <LoginForm />
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
</style>