---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/blog.css">
  </head>
  <body>

    <header class="header">
      <div class="nav-content">
        <h1 class="logo">Mi Blog</h1>

        <div class="links"><a href="/">Inicio</a></div>
      </div>
    </header>

    <main class="container content">
      <slot />
    </main>

    <footer class="footer">
      © 2026 - Mi Blog con Astro
    </footer>

  </body>
</html>


<style is:global>
	.nav-content {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
	}
    
    .links a {
		text-decoration: none;
		color: #4b5563;
		margin-left: 20px;
		font-weight: 500;
	}
</style>